/* цвет основного текста #757575 */
/* вторичный цвет текста  #212121;
 */
/* основной фон  #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* Стили общих элементов */

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

address {
  font-style: normal;
  display: flex;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}

.logo {
  color: var(--title-text-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.list {
  margin: 0;
  padding: 0;
}

.logo:focus,
.logo:hover {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

/* Хедер */

.header .container {
  display: flex;
  align-items: center;
}

.navigation,
.navigation .list {
  display: flex;
  align-items: center;
}

.navigation .list {
  margin-left: 85px;
  padding: 32px 0px;
}

.navigation li + li {
  margin-left: 50px;
}

.header .navigation {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-color);
}

.navigation .link {
  color: inherit;
}

.adres .link:hover,
.adres .link:focus {
  color: var(--accent-color);
}

/* .header .address {
  display: flex;
} */

.adres {
  margin-left: auto;
}

.adres a {
  display: flex;
}

.adres .link + .link {
  margin-left: 30px;
}

.adres .link {
  color: inherit;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.adres p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Секция Футер */

.footer {
  padding-top: 48px;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
}

.logo-adres {
  text-align: left;
  margin-right: 171px;
}

.adress-footer > * {
  margin-top: 9px;
}

.adress-footer {
  /* display: flex; */
  flex-direction: column;
  min-width: 231px;
}

.footer .logo {
  color: #ffffff;
}

.city {
  color: #ffffff;

  font-size: 14px;
  line-height: 1.71;
  /* margin: 0; */
}

.adress-footer .link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
}

.footer .title {
  color: #ffffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.join {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 8px;
  margin-right: 94px;
}

.join li {
  display: flex;
}

/* .join > li {
  flex-direction: column;
} */

.join .list {
  display: flex;
  margin-top: 21px;
  /* flex-wrap: wrap; */
}

.join .link {
  color: rgba(255, 255, 255, 0.1);
}

.join .link:hover,
.join .link:focus {
  color: var(--accent-color);
}

/* .form .title {
  min-width: 231px;
} */

.form .link {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 21px;
  text-align: center;

  color: #ffffff;
  background-color: var(--accent-color);

  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.form .link:focus {
  background-color: var(--accent-color);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 8px;
}

.developed-by {
  /* display: inline-block; */
  margin-top: 46px;
  padding-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
}
