/* Выделение активной страницы */

.current {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

/* Секция проектов */

.filter .container {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: left;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list li + li {
  margin-left: 8px;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0px;
  color: var(--title-text-color);
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.button:focus,
.button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects > li {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects > li:nth-child(3n) {
  margin-right: 0px;
}

.projects > li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects .title {
  margin-top: 20px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .discription {
  margin-top: 4px;
  margin-bottom: 20px;
  color: #757575;

  font-size: 16px;
  line-height: 1.88;
}

.projects .text {
  width: 370px;
  height: 168px;

  color: var(--primary-white-color);
  background-color: var(--primary-text-color);

  font-size: 18px;
  line-height: 1.56;
}
.projects .text:hover {
  background-color: var(--accent-color);
}
